* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: rgb(159, 235, 174);
  background: linear-gradient(
    147deg,
    rgba(159, 235, 174, 1) 0%,
    rgba(159, 235, 174, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
		supported by Chrome, Edge, Opera and Firefox */
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.keypadContainer {
  /*background-color: red;*/
  border: 1px solid black;
  border-radius: 15px;

  float: left;
  width: auto;
  min-width: 80vw;
  padding: 0 30px;
  box-sizing: border-box;
}

.GpioContainer {
  /*background-color: red;*/
  text-align: center;

  padding-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}

.TextCenter {
  text-align: center;
}

/******** Switch sliders style ******/

.switch {
  margin: 10px;
  padding: 5px; /* iOS text is not centered unless you set padding */
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;

  -webkit-tap-highlight-color: transparent; /* for removing the highlight 
		*This only works with certain web browser but useful for Safari and 
		* chrome on mobile touch screens*/
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2c8ff5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2c8ff5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/******** Button style ******/
button {
  /*max-width: 20%; */
  min-width: 80px;
  width: auto;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: #eeeeeeee;
  margin: 10px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px 2px #999999;
  text-shadow: 1px 1px 0px grey;
  text-align: center;
  padding: 5px; /* iOS text is not centered unless you set padding to zero */

  /* display: inline-block; */
  border: none;
  cursor: pointer; /*changes cursor to hand symbol when you hoover*/

  -webkit-tap-highlight-color: transparent; /* for removing the highlight 
		*This only works with certain web browser but useful for Safari and 
		* chrome on mobile touch screens*/
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*
button:hover {
	color: red;
	background-color: #ffffff;
}
*/
button:active {
  background-color: #2c8ff5;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px 2px #999999;
}

/* The following prevents chrome from putting a box around the button
 * after selecting it 
 */
button:focus {
  outline: 0;
}

/* Style the active class, and buttons on mouse-over */
.active {
  background-color: #fff;
}
